


.nav{
    display: flex;
    height: 4.5rem;
    width: 100%;
    background: #F1F7FA;
    position: relative;
    }
    
    .idea_hub{
        display: grid;
        grid-template-columns: 100fr 1fr 0fr 0fr;
        gap: 1rem;
        height: 2.5rem;
        width: 70%;
        position: absolute;
        top: 0rem;
        left:4rem;
    
    }
    
    .idea_txt{
        font-family:"san-serif";
        font-weight: 700;
        font-size: 10px;
        padding-right: 950px;
    
    }
    
    .idea_txt>span{
        font-family:"san-serif";
        font-weight: 700;
        font-size: 20px;
        line-height: 5px;
    
    }
    .alaram{
        background: url("../../assests/Alarm30.png");
    background-size: contain;
    opacity: 0.80;
    width: 30px;
    height: 30px;
    
    margin-top: 1rem;
    position: relative;
    
    
    }
    
    .alaramcount{
        position: absolute;
        top: -80%;
        right: -10%;
        background-color: red;
        color: white;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        align-items: center;
        display: flex;
        justify-content: center;
        font-style: "Josefin Sans";
    }
    
    .divider{
        height: 2rem;
        width: 10%;
        opacity: 0.2;
    
        border-right: 1px solid black;
        margin-top: 1rem;
    
    
    }
    
    .profile{
        display: flex;
        gap: 0.5rem;
    }
    
    .user_icon{
        background: url("../../assests/user\ icon.png");
        width: 50px;
        height: 50px;
        margin-top: 0.2rem;
    }
    
    .profile_details{
        display: flex;
        gap: 0;
        flex-direction: column;
        width: 100px;
        height: 40px;
    }
    
    .profile_details>p{
        height: 0px;
    
    
    }
    .profile_name{
        font-family: "sans-serif";
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        text-align: left;
        width: 200px;
    
    }
    .profile_mailid{
        display: flex;
        gap: 0.5rem;
    }
    
    .profile_mailid>select{
        background-color:#F1F7FA;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15px;
        width: 15px;
        margin-top: 0.6rem;
        color: #ABABAB;
    }
    
    .profile_mail{
    font-family: "san-serif";
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    text-align: left;
    color: #ABABAB;
    }

.idea_hub{
    height: 2.5rem;
    width: 7rem;
    position: absolute;
    top: 0rem;
    left:4rem;
}

.idea_txt{
    font-family:"Josefin Sans";
    font-weight: 700;
    font-size: 10px;
    background-color: #F1F7FA;

}

.idea_txt>span{
    font-family:"Josefin Sans";
    font-weight: 700;
    font-size: 20px;
    line-height: 5px;

}

.body{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.box{
    width: 310px;
height: 190px;
position: absolute;
top: 100px;
left: 145px;
display: grid;
gap: 2px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #E8E8E8;
background:#FBFDFD;
border-radius: 10px;
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);



}

.image{
    background: url(../../assests/Hand\ With\ Pen.png);
background-size: contain;
position: absolute;
opacity: 0.60;
width: 60px;
height: 60px;
top: 30px;
left: 120px;
gap: 0px;


}

.box>p{
    position: absolute;
    width: 234px;
height: 33px;
top: 90px;
left: 70px;
gap: 0px;
opacity: 0px;
font-family: Nunito;
font-size: 22px;
font-weight: 700;
line-height: 32.74px;
text-align: left;


}

.box1{
width: 310px;
height: 190px;
top: 100px;
position: absolute;
display: grid;
left: 497px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #E8E8E8;
background:#FBFDFD;
border-radius: 10px;
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);



}
.image1{
    

    background: url(../../assests/New\ Stamp.png);
background-size: contain;
position: absolute;
opacity: 0.60;
width: 60px;
height: 60px;
top: 30px;
left: 120px;
gap: 0px;


}

.box1>p{
    position: absolute;
    width: 234px;
height: 33px;
top: 90px;
left: 130px;
gap: 0px;
opacity: 0px;
font-family: Nunito;
font-size: 22px;
font-weight: 700;
line-height: 32.74px;
text-align: left;


}

@media screen and (max-width: 768px) {
    .nav{
        width: 100vw;
        position: relative;
        height: 30%;

    }
    .idea_hub {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
        gap: 0.3rem;
        height: auto;
        width: 100%;
        position: static;
        left: auto;
        top: auto;
        margin: auto;
        padding: 0.2rem;
      }
    
      .idea_txt {
        font-size: 24px;
        padding-right: 0;
        text-align: center;
      }
    
  .user_icon {
      background: url("../../assests/user\ icon.png");
      background-size: contain; 
      background-repeat: no-repeat; 
      width: 30%; 
      height: 10%; 
      margin: 1rem;
      padding-inline: 1.5rem;
  }
  
  .profile{
      display: flex;
      gap: 0.5rem;
      flex: auto;
  }
  
  
  .user_icon {
      background-image: url("../../assests/user icon.png"); /* Adjusted background image path */
      background-size: cover; /* Ensure the background image covers the container */
      width: 200px; /* Adjusted width */
      height: 50px; /* Adjusted height */
      margin-top: 0.2rem;
  }

    .body{
        width: 100vw;
        overflow-x: hidden;

    }

    .box{
        width: 300px;
        height: 190px;
        top: 100px;
        position: absolute;
        display: grid;
        left: 50px;
        gap: 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        border: 1px solid #E8E8E8;
        background:#FBFDFD;
        border-radius: 10px;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);

    }

    .box1{
        width: 300px;
        height: 190px;
        top: 350px;
        position: absolute;
        display: grid;
        left: 50px;
        gap: 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        border: 1px solid #E8E8E8;
        background:#FBFDFD;
        border-radius: 10px;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);

    }
        
        
        

    
}