

.signupMain{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.signupLeftDiv{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.signupRightDiv{
    width: 40%;
    height: 100%;
    background-color: #050b30;
}
.signupRightDiv> img{
    width: 100%;
    height: 99%;
    object-fit:fill
}
.signupBox{
    width: 60%;
    height: 600px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.IdeaHubDiv{
    width: 230px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoDiv{
width: 40px;
height: 40px;
}
.logoDiv > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.IdeaHubDiv > .txt{
    font-size: 35px;
}

.txt > .thick{
    font-size: 38px;
    font-weight: 800;
}

.signupTxtDiv{
    width: 250px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signupTxt{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
.signupExtraTxt{
    color: #0407446E;

}

.inputParDiv{
    font-family: "Josefin Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.signupInput{
    color: #0407446E;

}

.starMark{
    color: red;

}

.signupInput > label{
    margin: 5px 2px;
}

.borderless-input{
    padding: 0 5px;
    font-family: "Josefin Sans", sans-serif !important;
    height: 50px;
    border-radius: 10px;
}

.borderless-input .MuiOutlinedInput-notchedOutline {
    border: none !important;
  }
  
.borderless-input:hover .MuiOutlinedInput-notchedOutline {
    border: none !important;
}

.borderless-input.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: none !important;
}

.Signupbtn{
    width: 50ch;
    height: 50px;
    background-color: #040744 !important;
    font-family: "Josefin Sans", sans-serif !important;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    line-height: 20px;
    color: white;
}

.ParOfDirectToSignIn{
    width: 50ch;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    font-size: 15px;
    color: #0407446E;
}
.DarkBlueTxt{
    color: #040744 !important;
    font-weight: 700; 
 }

 
@media screen and (max-width: 1028px) {
    .signupMain {
        position: relative; /* Ensure the .signinMain div is a positioned parent for the absolute positioned child */

      }
      
      .signupMain::after {
        content: ''; /* Create a pseudo-element to hold the background image */
        position: absolute; /* Position the pseudo-element absolutely */
        bottom: 10%; /* Align the pseudo-element to the bottom */
        left: 10%;
        background-image: url(../../assests/hand_buli_svgsignupbackground.png); /* Specify the background image URL */
        background-size: contain; /* Adjust the background size as needed */
        width: 70%; /* Adjust the width of the background */
        height: 60%; /* Adjust the height of the background */
        z-index: -1; /* Ensure the background stays behind other content */
        background-repeat: no-repeat;
      }

    
      
      

    .signupRightDiv{
        display: none;
    }

    .signupLeftDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20%;
        width: 60%;
    }

    .inputParDiv{
        width: 180%;
    }
    .Signupbtn{
        width: 100%;
    }


    
   
}